---
layout: mainpage
---

<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit clearfix">
      <img class="pull-right" src="img/icon128.png">
      <h1>Your email is about to get awesome.</h1>
      <br>
      <p class="lead">
        <b>Markdown Here</b> will help you to <strong>write email</strong> more <strong>quickly and powerfully</strong> than you thought possible.
      </p>
      <p class="lead">
        <strong>With no extra effort</strong> on your part, Markdown Here <strong>eliminates all the hassle</strong> of formatting email. <strong>Empowerment through simplicity</strong>.
      </p>
      <p class="lead">
        <a href="get.html">Get it for Chrome, Firefox, Safari, and Thunderbird.</a>
      </p>
    </div>
  </div>
</div>

<script type="text/template" id="quote-carousel-item-template">
<div class="item">
  <p>
    <%= quote %>
  </p>
  <p class="text-right">
    <small>
      <% if (stars) { _.each(_.range(stars), function() { %> <i class="icon-star"></i> <% }) } %>
      <a href="<%= link %>"><%= context %></a>
    </small>
  </p>
</div>
</script>

<div class="row-fluid well">
  <div class="span1 big-quote-mark">&ldquo;</div>
  <div class="span10 quote-carousel">
    <div class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div>
            &ldquo;Incredibly simple to use. ... I recommend it to anybody who enjoys trying to write things that other people enjoy the process of reading.&rdquo;
          </div>
          <div class="text-right">
            <small><a href="https://chrome.google.com/webstore/detail/markdown-here/elifhakcjgalahccnjkneoccemfahfoa/reviews">Chrome reviewer &ldquo;Ben Kennedy&rdquo;</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="span1 big-quote-mark text-right">&rdquo;</div>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <p class="text-right">
      <small>Already love Markdown? Skip to the <a href="features.html">Markdown Here Features page</a>.</small>
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <p>
      <strong>Until now, formatting your email has been a hassle.</strong> If you're writing an email of any length and complexity, you've found yourself constantly fiddling around: selecting text, clicking formatting buttons, and then fiddling some more to get it right. This is tedious, frustrating, and slow.
    </p>
    <p>
      Sound familiar?
    </p>
    <p>
      <b>Markdown Here</b> allows you to <strong>write complex email in simple text</strong>, never taking your hands off the keyboard. When you're finished, <strong>just one click</strong> of your mouse will make your email <strong>ready to send</strong>.
    </p>
    <p>
      You write your email in something called "Markdown", which is... <strong>so simple</strong> that it's almost not worth describing. If you've ever used <strong>asterisks and dashes and spaces</strong> to add emphasis and structure when you write, then <strong>you already use it</strong>.
    </p>
    <p>
      Skeptical? Play around in the boxes below...
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12" id="main-livedemo">
    {% include livedemo.html %}
  </div>
</div>

<style>
#main-livedemo textarea {
  min-height: 25em;
}
</style>

<script data-livedemo="main-livedemo" type="text/plain">
This is just a sample. You can play around with your own text right here.

Markdown
-------------

...is really just ordinary text, *plain and simple*. How is it good for you?

- You just **type naturally**, and the result looks good.
- You **don't have to worry** about clicking formatting buttons.
  - Or fiddling with indentation. (Two spaces is all you need.)

To see what else you can do with Markdown (including **tables**, **images**, **numbered lists**, and more) take a look at the [Cheatsheet][1]. And then try it out by typing in this box!

[1]: https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet
</script>

<div class="row-fluid">
  <div class="span12">
    <p>
      Wasn't that cool? To see the full range of what you can do, check out the <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet" target="_blank">Markdown Cheatsheet</a>.
    </p>
    <p>
      You can have this same power in your own email. <a href="get.html"><strong>Just install Markdown Here</strong></a>.
    </p>
  </div>
</div>

<a name="email-extra"></a>
<div class="row-fluid">
  <div class="span12">
    <h2 data-hover-target-for="email-extra">Last ditch sales pitch</h2>
    <p>
      Still not convinced that Markdown Here is for you?
    </p>
    <p>
      Markdown Here has some <strong>extra special powers</strong> that help you to do things that are almost impossible in ordinary email editors. For example, it lets you put <strong>tables</strong>, <strong>source code</strong> snippets, and even <strong>mathematical formulae</strong> in your email. Take a look at the <strong>example below</strong>, and try it yourself.
    </p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12" id="bonus-livedemo">
    {% include livedemo.html %}
  </div>
</div>

<style>
#bonus-livedemo textarea {
  min-height: 25em;
}
</style>

<script data-livedemo="bonus-livedemo" type="text/plain">
Name | Lunch order | Spicy      | Owes
------- | ---------------- | ---------- | ---------:
Joan  | saag paneer | medium | $11
Sally  | vindaloo        | mild       | $14
Erin   | lamb madras | HOT      | $5

There are **multiple syntax highlighting themes** to choose from. Here's one of them:

```javascript
// All the code you will ever need
var hw = "Hello World!"
alert(hw);
```

My math is so rusty that I barely remember the _quadratic equation_:
$-b \pm \sqrt{b^2 - 4ac} \over 2a$
</script>

<div class="row-fluid">
  <div class="span12">
    <p class="text-right">
      <a href="features.html">Read more about Markdown Here's features&hellip;</a>
    </p>
  </div>
</div>
