<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' https://cdnjs.cloudflare.com https://www.google-analytics.com https://api.flattr.com 'sha256-ZZMDkMf9csthXERBFfBSxXMCEZnIaKtu4PkUqzQG3EU=' 'sha256-/naz5MnKL84+Wq3Gl1Wlus2UkDkfsQIOdKOUnSlhlPU='; connect-src 'self'; frame-src https://api.flattr.com/ https://button.flattr.com/; style-src * 'unsafe-inline'; font-src 'self' fonts.gstatic.com; img-src *">
  <title>Markdown Here</title>
  <meta name="description" content="Markdown Here is an extension for Chrome, Firefox, and Thunderbird that allows you to write email in Markdown">
  <meta name="viewport" content="width=device-width">

  <link rel="icon" type="image/png" href="favicon.png" />
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto Slab" rel="stylesheet">

  <style>
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>

  <link rel="stylesheet" href="css/bootstrap-responsive.css">
  <link rel="stylesheet" href="css/syntaxhighlighting.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
