<div class="row-fluid livedemo">
  <div class="span6">
    <h3>Try out some Markdown...</h3>
    <div class="livedemo-raw livedemo-elem">
<textarea>Markdown
------------

...is really just ordinary text, *plain and simple*. How is it good for you?

- You just **type naturally**, and the result looks good.
- You **don't have to worry** about clicking formatting buttons.
  - Or fiddling with indentation.

To see what else you can do with Markdown (including **tables**, **images**, and more) take a look at the [Cheatsheet][1]. And then try it out by typing in this box!

[1]: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
</textarea>
    </div>
  </div>
  <div class="span6">
    <h3 class="livedemo-rendered-heading">...and see what happens!</h3>
    <div class="livedemo-rendered livedemo-elem"></div>
  </div>
</div>