<div class="well row-fluid livedemo">
  <div class="span6">
    <h4 class="livedemo-elem-title">Try it out...</h4>
    <div class="livedemo-raw livedemo-elem">
<textarea>This is just a sample. You can play around with your own text right here.

Markdown
------------

...is really just ordinary text, *plain and simple*. How is it good for you?

- You just **type naturally**, and the result looks good.
- You **don't have to worry** about clicking formatting buttons.
  - Or fiddling with indentation. (Two spaces is all you need.)

To see what else you can do with Markdown (including **tables**, **images**, **numbered lists**, and more) take a look at the [Cheatsheet][1]. And then try it out by typing in this box!

[1]: https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet
</textarea>
    </div>
  </div>
  <div class="span6">
    <h4 class="text-right livedemo-elem-title">...and see what happens!</h4>
    <div class="livedemo-rendered livedemo-elem"></div>
  </div>
</div>