<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="index.html"><img src="img/icon24.png">&nbsp;Markdown Here</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="get.html">Get it!</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
