/**
 * Obsidian style
 * ported by Alexander Marenin (http://github.com/ioncreature)
 */

pre code {
    display: block; padding: 0.5em;
    background: #282B2E;
}

pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .css .id,
pre .tex .special {
    color: #93C763;
}

pre .number {
    color: #FFCD22;
}

pre code {
    color: #E0E2E4;
}

pre .css .tag,
pre .css .pseudo {
    color: #D0D2B5;
}

pre .attribute,
pre code .constant {
    color: #668BB0;
}

pre .xml .attribute {
    color: #B3B689;
}

pre .xml .tag .value {
    color: #E8E2B7;
}

pre .code,
pre .class .title,
pre .header {
    color: white;
}

pre .class,
pre .hexcolor {
    color: #93C763;
}

pre .regexp {
    color: #D39745;
}

pre .at_rule,
pre .at_rule .keyword {
    color: #A082BD;
}

pre .doctype {
    color: #557182;
}

pre .link_url,
pre .tag,
pre .tag .title,
pre .bullet,
pre .subst,
pre .emphasis,
pre .haskell .type,
pre .preprocessor,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
    color: #8CBBAD;
}

pre .string {
    color: #EC7600;
}

pre .comment,
pre .java .annotation,
pre .blockquote,
pre .horizontal_rule,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
    color: #818E96;
}

pre .keyword,
pre .literal,
pre .css .id,
pre .phpdoc,
pre .title,
pre .header,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .at_rule .keyword,
pre .status {
    font-weight: bold;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
    opacity: 0.5;
}
