/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

pre code {
  display: block;
  padding: 0.5em;
  background: #232323;
  color: #E6E1DC;
}

pre .comment,
pre .template_comment,
pre .javadoc,
pre .shebang {
  color: #BC9458;
  font-style: italic;
}

pre .keyword,
pre .ruby .function .keyword,
pre .request,
pre .status,
pre .nginx .title,
pre .method,
pre .list .title {
  color: #C26230;
}

pre .string,
pre .number,
pre .regexp,
pre .tag .value,
pre .cdata,
pre .filter .argument,
pre .attr_selector,
pre .apache .cbracket,
pre .date,
pre .tex .command,
pre .markdown .link_label {
  color: #A5C261;
}

pre .subst {
  color: #519F50;
}

pre .tag,
pre .tag .keyword,
pre .tag .title,
pre .doctype,
pre .sub .identifier,
pre .pi,
pre .input_number {
  color: #E8BF6A;
}

pre .identifier {
  color: #D0D0FF;
}

pre .class .title,
pre .haskell .type,
pre .smalltalk .class,
pre .javadoctag,
pre .yardoctag,
pre .phpdoc {
  text-decoration: none;
}

pre .constant {
  color: #DA4939;
}


pre .symbol,
pre .built_in,
pre .ruby .symbol .string,
pre .ruby .symbol .identifier,
pre .markdown .link_url,
pre .attribute {
  color: #6D9CBE;
}

pre .markdown .link_url {
  text-decoration: underline;
}



pre .params,
pre .variable,
pre .clojure .attribute {
  color: #D0D0FF;
}

pre .css .tag,
pre .rules .property,
pre .pseudo,
pre .tex .special {
  color: #CDA869;
}

pre .css .class {
  color: #9B703F;
}

pre .rules .keyword {
  color: #C5AF75;
}

pre .rules .value {
  color: #CF6A4C;
}

pre .css .id {
  color: #8B98AB;
}

pre .annotation,
pre .apache .sqbracket,
pre .nginx .built_in {
  color: #9B859D;
}

pre .preprocessor,
pre .preprocessor *{
  color: #8996A8 !important;
}

pre .hexcolor,
pre .css .value .number {
  color: #A5C261;
}

pre .title,
pre .decorator,
pre .css .function {
  color: #FFC66D;
}

pre .diff .header,
pre .chunk {
  background-color: #2F33AB;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
  display: inline-block;
  width: 100%;
}

pre .addition {
  background-color: #144212;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #600;
  color: #E6E1DC;
  display: inline-block;
  width: 100%;
}

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.7;
}
