pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/
.hljs {
  color: #3e5915;
  background: #f6f5b2
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #005599;
  font-weight: bold
}
.hljs-subst {
  color: #3e5915
}
.hljs-string,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute,
.hljs-built_in,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable,
.hljs-link {
  color: #2c009f
}
.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #e60415
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-name,
.hljs-selector-id,
.hljs-strong {
  font-weight: bold
}
.hljs-emphasis {
  font-style: italic
}