/*
 * NOTE:
 * - The use of browser-specific styles (-moz-, -webkit-) should be avoided.
 *   If used, they may not render correctly for people reading the email in
 *   a different browser than the one from which the email was sent.
 */

/* This is the overall wrapper, it should be treated as the `body` section. */
.markdown-here-wrapper {
  font-size: 1em;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  color: #222;
  background-color: #fff;
  border: none;
  line-height: 1.2;
}

pre, code {
  font-size: 0.85em;
  font-family: Consolas, Inconsolata, Courier, monospace;
}

code {
  margin: 0 0.15em;
  padding: 0 0.3em;
  white-space: nowrap;
  border: 1px solid #EAEAEA;
  background-color: #F8F8F8;
  border-radius: 3px;
  display: inline; /* adam-p: added to fix Yahoo block display */
}

pre {
  font-size: 1em;
  line-height: 1.2em;
  overflow: auto;
}

pre code {
  white-space: pre;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0.5em 0.7em;
}

ul, ol {
  padding-left: 2em;
}

p, blockquote, ul, ol, dl, li, table, pre {
  margin: 1em 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 1em 0 0.4em;
}

dl dd {
  margin: 0 0 1em;
  padding: 0 1em;
}

blockquote {
  border-left: 4px solid #DDD;
  padding: 0 1em;
  color: #777;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
  content: none;
}

a:link, a:visited {
  color: #33e;
  text-decoration: none;
}

a:hover {
  color: #00f;
  text-shadow: 1px 1px 2px #ccf;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.3em 0 1em;
  padding: 0;
  font-weight: bold;
  color: black;
  cursor: text;
  position: relative;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em;
  border-bottom: 1px solid #CCC;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
  color: #777;
}

.shadow {
  box-shadow:0 5px 15px #000;
}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
  border: 0;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  border: 1px solid #CCC;
  margin: 0;
  padding: 0.5em 1em;
}

table tr th {
 font-weight: bold;
}
